.wrapper{
  display: flex;
}


.side-ber{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}
.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}
.create-room a{
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
  border: 1px solid lightblue;
  padding: 14px;
}
.rooms{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px;
}
.room-name a{
  text-decoration: none;
  color: white;
}


.chat{
  width: calc(100vw - 300px);
  background-color: #fff;
}
.main-header{
  height: 100px;
  background-color: #fff;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.header-title{
  font-size: 24px;
  color: #333333;
  margin-top: 36px;
}
.head-btn{
  margin-top: 40px;
}
.head-btn a{
  color: darkred;
  border: 1px solid darkred;
  padding: 20px;
  text-decoration: none;
}
.messages{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 40px 40px 0;
  overflow: scroll;
}
.message{
  margin-top: 10px;
}
.message-sec{
  display: flex;
}
.mes-user{
  font-size: 16px;
  color: #434a54;
  padding-right: 10px;
}
.mes-date{
  font-size: 12px;
  color: #999;
}
.message-text{
  margin-top: 10px;
}
.mes-text{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}
.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}
.form-input{
  background-color: white;
  width: 100%;
  display: flex;
}
.form-chat{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}
.form-submit{
  color: white;
  font-size: 16px;
  height: 50px;
  border: none;
  background-color: #38aef0;
  margin-left: 15px;
  padding: 0 20px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}